html {
    scroll-behavior: smooth;
}

body{
    font-family: Quicksand, sans-serif;
    padding: 0;
    margin: 0;
}

/*  Nav Bar CSS  */ 

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.active {
    text-decoration: underline;
}

.logoImg {
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.logoImg:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subPages {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

/* Attempt at hover animation for bottom navBar */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

/* END Nav Bar CSS  
___________________________________ */ 



/* Initial switch/slider */

/* Testing background with clip-path for first area*/ 

.slider {
    height: 800px;
    background-image: url("./img/fondo.jpg");
    clip-path: polygon(0 0, 100% 0%, 97% 95%, 0% 100%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderImg {
    height: 500px;
    width: 750px;
    border-radius: 50%;
    z-index: 1;
    margin: 20px;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 5px;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 75%;
    right: 15%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    background-color: black;
}

.buyButton:hover {
    background-color: white;
    color: black;
}


/* Handle background colors for items */

.sliderItem:nth-child(1).sliderBg{
    background-color: green;
}

.sliderItem:nth-child(2).sliderBg{
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3).sliderBg{
    background-color: teal;
}

.sliderItem:nth-child(4).sliderBg{
    background-color: cornflowerblue;
}


/* Handle price colors for items */

.sliderItem:nth-child(1).sliderPrice{
    background-color: green;
}

.sliderItem:nth-child(2).sliderPrice{
    background-color: white;
}

.sliderItem:nth-child(3).sliderPrice{
    background-color: teal;
}

.sliderItem:nth-child(4).sliderPrice{
    background-color: cornflowerblue;
}



/* Products/Mixed Messages Section  */

.product {
    height: 700px;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(3% 3%, 100% 0%, 100% 100%, 0% 100%);
}
  
/* Testing product images sizes with width 50% */

.productImg {
    height: 500px;
    width: 750px;
    border-radius: 20%;
    margin-top: 100px;
    margin-left: 50px;
}

.productDetails {
    position: absolute;
    top: 5%;
    right: 0;
    width: 40%;
    padding: 50px;
    margin-right: 100px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productPrice {
    font-size: 30px;
}

.productDescription {
    font-size: 24px;
    color: gray;
}

.productButton {
    float: right;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    background-color: white;
    color: black;
    transition: transform 0.5s ease-out;
}



footer {
    display: flex;
 }

 footer a {
     text-decoration: none;
 }

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 50px;
}

.fMenuTitle {
    font-size: 16px;
}

.fList {
    padding: 0;
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    float: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerRightMenu {
    margin: 10px;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.fIcon:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
    
}



/* Making it Responsive */


/* Responsive to smaller screens */

@media  screen and (max-width: 1440px) {

    .sliderImg {
        position: relative;
        float: left;
        width: 100%;
        height: 90%;
        margin: 1%;
    }

    .sliderBg {
        width: 100%;
        height: 100%;
        align-items: none;
        position: relative;
    }

    .sliderTitle {
        margin: 0;
        display: flex;
        font-size: 45px;
    }

    .sliderPrice {
        top: unset;
        bottom: 0;
        left: 0;
        background-color: lightgray;
    }

    .buyButton {
        top: 65%;
        right: 10%;
    }

    .product {
        min-height: 1000px;
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .productImg {
        margin: 3%;
        width: 50%;
        height: 40%;
    }

    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 0;
        margin: 0px;
    }

    .productButton {
        margin-bottom: 10px;
    }
}

    /* Responsive to Phones */

@media  screen and (max-width: 480px) {

    nav {
            padding: 20px;
    
    }

    .subPages {
        display: none;
    }

    .navBottom {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menuItem {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .contactLogo {
        width: 90%;
        height: 90%;
    }



    .slider {
        clip-path: none;
        height: 100%;
    }

    .sliderImg {
        width: 100%;
        height: 50%;
    }

    .sliderBg {
        width: 100%;
        height: 100%;
    }

    .sliderTitle {
        display: none;
    }

    .sliderPrice {
        top: unset;
        bottom: 0;
        left: 0;
        background-color: lightgray;
    }



    
    .product {
        min-height: 500px;
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        text-align: center;
    }

    .productImg {
        margin: 5%;
        width: 80%;
        height: 30%;
    }

    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 0;
        margin: 0px;
    }

    .productDescription {
        text-align: justify;
        margin: 5%;
    }

    .productTitle {
        font-size: 50px;
        margin: 0;
    }

    .productButton {
        margin: 5%;
    }



    
    footer {
        flex-wrap: wrap;
        align-content: space-around;
        position: relative;
    }

    .fListItem {
        margin: 20px;
    }

    .footerLeft {
        margin: 5%;
        padding: 0;
        display: inline;

    }

    .footerRight{
        flex-direction: column;
        align-items: center;
        align-content: flex-end;
    }

    .fIcon {
        width: 30px;
        height: 30px;
        margin: 15px;
    }

}